/* CSS Document */
/* Formato Geral do Site */
*{
 	padding:0px; /* Margem Interna zerada */
	margind: 0px;	/* Margem Externa zerada */
	font:14px;	/* Tamanho geral da Fonte */
	text-decoration: none;	/* Decoração para Link azulSublinhado */
	color:#333;	/* Cor da Pagina */
	list-style: none;	/* Estilo da Lista */
}

body{
	background-color:#424242;
}

nav{	
	list-style: none;	/* Estilo da Lista */
	padding:0px;	/* Margem Interna zerada */
	margind: 0px;	/* Margem Externa zerada */
}

ul{	
	list-style: none;	/* Estilo da Lista */	
	padding:0px;	/* Margem Interna zerada */
	margind: 0px;	/* Margem Externa zerada */
}

input[type="checkbox"]{
	display:none; 	/* para esconder todo input */
	/*display:block; 	/* para um embaixo do outro */
	
}

tr{
	line-height:20px; 	/* altura da linha do formulario */
	
	
}

td{
	padding:0px 5px; 	/* largura da coluna do formulario */
	
}



#geral{
	max-width:1200px; /* Largura geral*/
	height:auto; /* Altura geral */
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
	box-shadow:10px 10px 15px rgba(0,0,0,0.7);
	margin:0 auto; /* alinhamento de altura zerada e lateral automatica */
}


#painelAdm{
	width:100%; /* Largura geral*/
	height:auto; /* Altura geral */
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
	/* box-shadow:10px 10px 15px rgba(0,0,0,0.7); */
	margin:0 auto; /* alinhamento de altura zerada e lateral automatica */
	padding: 0;
}

		/* Topo do Site */
#topo{
	width:100%; /* Largura */
	height:200px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#FF0000; /* Cor do Fundo */
	}

		.logo{
			width:200px; /* Largura do Logo */
			height:auto; /* Altura do Logo */
			Float:left; /* Lado que a imagem ira Flutuar */
			margin:20px; /* Margem da Imagem */
			 }	

		.banner{
			width:770px; /* Largura do Logo */
			height:140px; /* Altura do Logo */
			Float:center; /* Lado que a imagem ira Flutuar */
			padding-top:10px; /* Distancia do topo */ 
			margin:20px; /* Margem da Imagem */
			 }	

#topo_login{
	width:100%; /* Largura */
	height:100px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#FF0000; /* Cor do Fundo */
	}
		.logo_login{
			width:100px; /* Largura do Logo */
			height:auto; /* Altura do Logo */
			Float:left; /* Lado que a imagem ira Flutuar */
			margin:15px; /* Margem da Imagem */
			 }	
		.banner_login{
			width:450px; /* Largura do Logo */
			height:60px; /* Altura do Logo */
			Float:left ; /* Lado que a imagem ira Flutuar */
			padding-top:10px; /* Distancia do topo */
			margin:15px; /* Margem da Imagem */
			margin-left:18%; /* Margem da Imagem */
			 }		

#topo_painelAdm{
	width:100%; /* Largura */
	height:50px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#C00; /* Cor do Fundo */
	}
		.logo_painelAdm{
			width:auto; /* Largura do Logo */
			height:90%; /* Altura do Logo */
			Float:left; /* Lado que a imagem ira Flutuar */
			margin:2px; /* Margem da Imagem */
			 }	
		.banner_painelAdm{
			width:auto; /* Largura do Logo */
			height:90%; /* Altura do Logo */
			Float:left ; /* Lado que a imagem ira Flutuar */
			padding-top:0; /* Distancia do topo */
			margin:2px; /* Margem da Imagem */
			margin-left:18%; /* Margem da Imagem */
			 }	

		.links_painelAdmBtnTopo li a{
			cursor:pointer;
			width:2%; /* Largura */
			height:100%; /* Altura */
			float:right; /* Flutuar a esquerda */
			background-color:#A40000; /* Cor do Fundo */ 
			border-width:5px solid #F66; 
			color:#FFF;  /* Cor do Link */
			padding:0.7%; /* Distancia entre os links */
			padding-bottom: 4%;
			}

		.links_painelAdmBtnTopo li a:hover{/* Mudar Cor ao Passar o Mouse */
			background-color:#335DFF; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}
		/* Fim do Topo do Site */
		
		

		/* Menu Superior do Site */
#menuSuperior{
	width:100%; /* Largura */
	height:5.5%; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#C00; /* Cor do Fundo */ 
	border-width:5px solid #F66; 
	}
		.links_menuSuperior li a{
			cursor:pointer; /* Tipo de Cursor */
			float:left; /* Flutuar a esquerda */
			padding:0.7%; /* Distancia entre os links */
			padding-bottom: 4%;
			background-color:#C00; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}

		.links_menuSuperior li a:hover{/* Mudar Cor ao Passar o Mouse */
			background-color:#F33; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}

		.links_loginCliente li a{
			cursor:pointer; /* Tipo de Cursor */
			float:right; /* Flutuar a esquerda */
			padding:0.7%; /* Distancia entre os links */
			padding-bottom: 4%;
			background-color:#C00; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}	

		.links_loginCliente li a:hover{/* Mudar Cor ao Passar o Mouse */
			background-color:#F33; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}	
		/* Fim do Menu Superior */



		/* Menu Lateral */
 #menuLateral{
	 list-style: none;
 	 padding:0px; /* Distancia entre os links */ 
	 margin:0px;
 	 width:15%; /* Largura */                    
 	 height:100%; /* Altura */    
 	 float:left; /* Lado que ira flutuar */        
	 background-color:#C00; /* Cor do Fundo */
	 border-top:1px solid #F66;	/* Cor da Borda do topo do menu */
	 /* border-right: 2px solid #333;	/* Cor da Borda lateral do menu */
 }    

.titulos_menu{
		padding: 0px;
		font-size:20px;
		text-align: center; /* alinhar texto ao centro */
		font-family:calibri, sans-serif;
		color: #B5B5B5;
}

		/* Configuração geral do Menu Lateral */
 		.links_menuLateral ul{ 
 			padding:0px; /* Distancia entre os links */
	 		position: relative;
	 		list-style: none;
 			margin:0; /* Margem */
	 		background-color:#C00; /* Cor do Fundo */ 
 			}


		/* Configuração geral do Menu Lateral */
 		.links_menuLateral ul li{ 
			position: relative; /* Nescessario para alinhar submenu ao aparecer */  
 			}

		/* Configuração dos botões do Menu Lateral */
 		.links_menuLateral ul li a{ 
			cursor: pointer;
 			padding:0; /* Distancia entre os links */
			padding-left: 4%; /* alinhar texto a direita */  
			padding-top: 5%;
			padding-bottom: 5%;
			display:block;
			position: relative; 
 	 		width:99.9%; /* Largura */    
 	 		height:2%; /* Altura */  
			text-align: left;
 			float:none; /* Flutuar a esquerda */     
 			margin:0px; /* Margem */       
			border-bottom: medium;
 			/* background-color:#000000; /* Cor do Fundo do Botão */                  
 			color:#FFF;  /* Cor do Link */
			 	
				/* Efeito do Menu */
			-webkit-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s;
			/*-moz-box-shadow:0 3px 10px 0 #CCC;
			-webkit-box-shadow:0 3px 10px 0 #ccc;
			text-shadow:0px 0px 5px #fff; */
 			}    

		/* Configuração para marcar Menu Lateral ao ir para SubMenu*/
 		.links_menuLateral ul li:hover{ 
 			background-color:#F55; /* Cor do Fundo do Botão do menu ao levar o mouse para o Submenu*/

 			}      

		/* Configuração ao passar o mouse nos botões do Menu Lateral */
 		.links_menuLateral ul li a:hover{  
  			display: block; /* Largura */      
			/*text-align: center; /* Posição do Texto */  
 	 		width:100%; /* Largura */ 
 			background-color:#F66; /* Cor do Fundo do Botão */            
 			color:#232323;  /* Cor do Link */
			font-weight: bold; /* Para Texto ficar em Negrito */
 			}    

		/* Função para esconder a subcategoria do menu lateral */
 		.links_menuLateral ul ul { 
			transition: all 0.3s; 
 	 		width:100%; /* Largura */  
			opacity: 0;
			visibility:hidden;
			position: absolute;
			left:101%;
			top:0;
 			float:left; /* Flutuar a esquerda */ 
	 		background-color:#C00; /* Cor do Fundo */ 
 			padding:0px; /* Distancia entre os links */
	 		list-style: none;
 			margin:0; /* Margem */
 			}    

		/* Função para visualizar a subcategoria escondida do menu lateral */
 		.links_menuLateral ul li:hover > ul { 
			opacity: 1;
			visibility: visible;
 			}     


 #menuLateralAdm{
	 list-style: none;
 	 padding:0px; /* Distancia entre os links */ 
	 margin:0px;
 	 width:15%; /* Largura */  
	 height:1000px; /* Altura */   
 	 float:left; /* Lado que ira flutuar */        
	 background-color:#333; /* Cor do Fundo */
	 border-top:1px solid #F66;	/* Cor da Borda do topo do menu */
	 /* border-right: 2px solid #333;	/* Cor da Borda lateral do menu */
 }    

.titulos_menuAdm{
		padding: 0px;
		font-size:20px;
		text-align: center; /* alinhar texto ao centro */
		font-family:calibri, sans-serif;
		color: #4CA8FF;
		overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
}
		/* Configuração geral do Menu Lateral */
 		.links_menuLateralAdm ul{ 
 			padding:0px; /* Distancia entre os links */
	 		position: relative;
	 		list-style: none;
 			margin:0; /* Margem */
	 		background-color:#333; /* Cor do Fundo */ 
 			}


		/* Configuração geral do Menu Lateral */
 		.links_menuLateralAdm ul li{ 
			position: relative; /* Nescessario para alinhar submenu ao aparecer */  
 			}

		/* Configuração dos botões do Menu Lateral */
 		.links_menuLateralAdm ul li a{ 
			cursor: pointer;
 			padding:0; /* Distancia entre os links */
			padding-left: 4%; /* alinhar texto a direita */  
			padding-top: 5%;
			padding-bottom: 5%;
			display:block;
			position: relative; 
 	 		width:99.9%; /* Largura */    
 	 		height:auto; /* Altura */  
			text-align: left;
 			float:none; /* Flutuar a esquerda */     
 			margin:0px; /* Margem */       
			border-bottom: medium;
 			/* background-color:#000000; /* Cor do Fundo do Botão */                  
 			color:#FFF;  /* Cor do Link */
			 	
				/* Efeito do Menu */
			-webkit-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s; 			
			/*-moz-box-shadow:0 3px 10px 0 #CCC;
			-webkit-box-shadow:0 3px 10px 0 #ccc;
			text-shadow:0px 0px 5px #fff;*/
 			}    

		/* Configuração para marcar Menu Lateral ao ir para SubMenu*/
 		.links_menuLateralAdm ul li:hover{ 
 			background-color:#4CA8FF; /* Cor do Fundo do Botão do menu ao levar o mouse para o Submenu*/

 			}  

		/* Configuração ao passar o mouse nos botões do Menu Lateral */
 		.links_menuLateralAdm ul li a:hover{  
  			display: block; /* Largura */      
			/*text-align: center; /* Posição do Texto */  
 	 		width:100%; /* Largura */ 
 			background-color:#4CA8FF; /* Cor do Fundo do Botão */            
 			color:#232323;  /* Cor do Link */
			font-weight: bold; /* Para Texto ficar em Negrito */
			
			box-shadow:0px 2px 2px 2px;  /* Efeito no Menu Superior */	
 			}    

		/* Função para esconder a subcategoria do menu lateral */
 		.links_menuLateralAdm ul ul { 
			transition: all 0.3s; 
 	 		width:100%; /* Largura */  
			opacity: 0;
			visibility:hidden;
			position: absolute;
			left:101%;
			top:0;
 			float:left; /* Flutuar a esquerda */ 
	 		background-color:#333; /* Cor do Fundo */ 
 			padding:0px; /* Distancia entre os links */
	 		list-style: none;
 			margin:0; /* Margem */
 			}    

		/* Função para visualizar a subcategoria escondida do menu lateral */
 		.links_menuLateralAdm ul li:hover > ul { 
			opacity: 1;
			visibility: visible;
 			}  
		/* Fim do Menu Lateral */


		/* Slide do Site */
#slide_principal{
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */
	width:100%; /* Largura */
	min-height:100px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
}

#slide_portifolio{
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */
	width:84.9%; /* Largura */
	min-height:100px; /* Altura */
	float:right; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
}

		.carousel {
 			 width: 1200px; /* Largura */
			 height:80px; /* Altura */
			 outlin:3px solid #000;
			 overflow: hidden; /* Lista horizontal */
			 margin: 0 auto;
			 /* box-shadow:10px 10px 15px rgba(0,0,0,0.7);  /* Fundo com Sombra */
				}

		.carrosel ul{
			display: flex;
			width:3750px; /* Largura de todos os slides */
			height:80px; /* Altura */
			border:1px solid #000;
			padding-top:-10px; /* Distancia do topo */ 
				}

		.carrosel li{
			position: relative; /* para poder mover - pode ser absoluto ou relative */
			animation: 150s linear 1s infinite alternate slide;
			/* animation: slide 150s infinite ease-out; /* nome da animação, tempo da animação, tipo de animação */
				}

		@keyframes slide { /* Frames da animação - nome da animação */
			0%{left: 0px}
			50%{left: -3000px}
			100%{left: 0px}
			}
		/* Fim do Slide do Site */


		/* Conteudo do Site */
#conteudo{
	width:100%; /* Largura */
	height:1000px; /* Altura */
	float:left; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
}

#conteudo_principal{
	width:70%; /* Largura */
	height:98%; /* Altura */
	float:left; /* Lado que ira flutuar */
	/* overflow:hidden; /* para conteudo não passar a div */
	overflow: auto;  /* Barra de Rolagem */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borda da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
}
	
	.postagens{
		width:99.8%; /* Largura da postagem*/
		height:auto; /* Altura */
		overflow:hidden; /* para conteudo não passar a div */
		float:left; /* Lado que ira flutuar */
		margin:10px 0px 30px 0px; /* cima direita baixo esquerda */
		border:1px solid #F00;
	}

	.titulos{
		padding: 0px;
		font-size:20px;
		text-align: center; /* alinhar texto ao centro */
		font-family:calibri, sans-serif;
		float:left;
		width: 96%; /* Largura */
		margin: 2px 2%;  /* 5px para cima e para baixo e 2% para direita e para esquerda */
}

	.titulos a:hover{
		color:#FF0000; /* Cor do texto ao passar o mouse no link de titulos */
}

	.imagem{
		width: 500px; /* Largura */
		height:auto; /* Altura */
		float:left;
	    text-align: center;
		margin: 2px 2%;  /* 2px para cima e para baixo e 2% para direita e para esquerda */
}

	.paragrafo, .data{
		font-size:16px;
		color:#111;
		float:left;
		width: 100%; /* Largura */
		font-family:calibri, sans-serif;
		margin: 0.5% 2%;  /* 5px para cima e para baixo e 2% para direita e para esquerda */
}



#recentes{
	width:26%; /* Largura */
	height:98%; /* Altura */
	float:right; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borada da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
}

	.postagens_recentes{
		width:99.5%; /* Largura da postagem*/
		height:auto; /* Altura */
		overflow:hidden; /* para conteudo não passar a div */
		float:left; /* Lado que ira flutuar */
		margin:10px 0px 30px 0px; /* cima direita baixo esquerda */
		border:1px solid #F00;
	}

#postagens_menu{
	width:26%; /* Largura */
	height:98%; /* Altura */
	float:right; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borada da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
	}

	.postagens_menu_recentes{
		width:99.5%; /* Largura da postagem*/
		height:auto; /* Altura */
		overflow:hidden; /* para conteudo não passar a div */
		float:left; /* Lado que ira flutuar */
		margin:10px 0px 30px 0px; /* cima direita baixo esquerda */
		border:1px solid #F00;
	}

		
#conteudo_sobre{
	width:98%; /* Largura */
	height:98%; /* Altura */
	float:left; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borda da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
}
	
		.sobre{
			width:100%; /* Largura da postagem*/
			height:auto; /* Altura */
			float:left; /* Lado que ira flutuar */
			margin:10px 0px 30px -5px; /* cima direita baixo esquerda */
			overflow:hidden; /* para conteudo não passar a div */
			}

	
		.titulo_sobre{
			width: 100%; /* Largura */
			font-size:20px;
			color:#111;
			float:left;
			font-family:calibri, sans-serif;
			margin: 2px 2%;  /* 5px para cima e para baixo e 2% para direita e para esquerda */
			}
	
		.paragrafo_sobre{
			width: 97%; /* Largura */
    		text-align:justify;
			font-size:16px;
			color:#111;
			float:left;
			font-family:calibri, sans-serif;
			margin: 2px 2%;  /* 5px para cima e para baixo e 2% para direita e para esquerda */	
			}		



#conteudo_portifolio{
	/*overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
	overflow: auto;  /* Barra de Rolagem */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */	
	width:83%; /* Largura */
	height:98%; /* Altura */
	float:right; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borda da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
}	


#conteudo_login{
	width:100%; /* Largura */
	min-height:500px; /* Altura */
	float:left; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
}



				/* Editar Area Geral da pagina de login */
#conteudo_postagemlogin{
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */	
	width:98%; /* Largura */
	height:498px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borda da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
}

				/* Editar Area da pagina de login */
		.pag_login{
			width:100%; /* Largura da postagem*/
			height:auto; /* Altura */
			float:left; /* Lado que ira flutuar */
			margin:10px 0px 30px 0px; /* cima direita baixo esquerda */
			overflow:hidden; /* para conteudo não passar a div */
			/* box-shadow: inset 0 0 1em gold, 0 0 1em red;   /* Efeito Sombra */
			}

				/* Editar Area de Tomador na pagina de login */
		.login_tomador{
			overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
			width:48%; /* Largura */
			height:400px; /* Altura */
			float:left; /* Lado que ira flutuar */
			background-color:#FFF; /* Cor do Fundo */
			border:1px solid #ccc; /*  Borda da Postagem */
			margin: 0.9% 0.9%;  /* valor a direita e a esquerda */
			/* box-shadow: 3px 3px 5px 5px;  /* Efeito no Menu Superior */	
			/* box-shadow: inset 0 0 1em #00EBFF, 0 0 1em blue;   /* Efeito Sombra */
		}

				/* Editar Area de Prestador na pagina de login */
		.login_prestador{
			overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
			width:48%; /* Largura */
			height:400px; /* Altura */
			float:right; /* Lado que ira flutuar */
			background-color:#FFF; /* Cor do Fundo */
			border:1px solid #ccc; /*  Borda da Postagem */
			margin: 0.9% 0.9%;  /* valor a direita e a esquerda */
			/* box-shadow:3px 3px 5px 5px;  /* Efeito no Menu Superior */	
			/* box-shadow: inset 0 0 1em gold, 0 0 1em red;   /* Efeito Sombra */
		}

				/* Editar Area login */
		.login_campoLogin{
			width:97%; /* Largura */
			height:auto; /* Altura */
			text-align: justify; /* alinhamento do texto */
			margin: 1.5% 1.5%;  /* valor a direita e a esquerda */
			padding-top:3%; /* Distancia do topo */
			color: #333; /* cor do texto */
			font-weight: bold; /* Para Texto ficar em Negrito */
		}

				/* Editar Observações na pagina de login */
		.login_obs p{
			width:97%; /* Largura */
			height:auto; /* Altura */
			text-align: justify; /* alinhamento do texto */
			margin: 1.5% 1.5%;  /* valor a direita e a esquerda */
			padding-top:3%; /* Distancia do topo */
			color: #333; /* cor do texto */
			font-weight: bold; /* Para Texto ficar em Negrito */
		}

				/* Editar Formulario de Preenchimento do login*/
		.login_formulario{
			display:block;
			width:100%;
			padding:.375rem .75rem;
			font-size:1rem;
			line-height:1.5;
			color:#495057;
			background-color:#fff;
			background-clip:padding-box;
			border:1px solid #ced4da;
			border-radius:.25rem;
			transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}

				/* Editar Botão de Logar */
			.login_botaoEntrar{
			cursor: pointer;
			display:block;
			width:30%;
			padding:.375rem .75rem;
			margin-left: 34%;	/* alinhar botão */
			font-size:1rem;
			line-height:1.5;
			color:#2F343A;
			background-color:#D7A5A6;
			background-clip:padding-box;
			border:1px solid #ced4da;
			border-radius:.25rem;
			transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}

			.login_botaoEntrar:hover{
			background-color:#FF0004;
			border:1px solid #DACECE;
			color: #FFF;
			}

			.login_linkCriarConta{
				font-weight:normal; /* Para Texto ficar normal */
				color: #FF3A3D;
			}

			.login_linkCriarConta:hover{
			font-weight: bold; /* Para Texto ficar em Negrito */
			}

			.login_linkRecuperarConta{
				font-weight:normal; /* Para Texto ficar normal */
				color: #FF3A3D;
			}

			.login_linkRecuperarConta:hover{
			font-weight: bold; /* Para Texto ficar em Negrito */
			}

		/* Fim do Conteudo do Site */



#conteudoAdm{
	width:85%; /* Largura */
	height:1000px; /* Altura */   
	float:right; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
}

#conteudoAdmProdutos{
	width:85%; /* Largura */
	height:970px; /* Altura */   
	float:right; /* Lado que ira flutuar */
	overflow:hidden; /* para conteudo não passar a div */
	background-color:#FFF; /* Cor do Fundo */
}


#conteudo_painelADM{
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */	
	width:98.4%; /* Largura */
	height: 98%;  /* Altura */
	/* overflow-y: auto;  /* Barra de Rolagem */
	float:left; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
	border:1px solid #ccc; /*  Borda da Postagem */
	margin: 10px 10px;  /* valor a direita e a esquerda */
	/* border-radius: 15px 15px 0 0; /* deixar as bordas arredondadas */
}	





/* ****************************************Conteudo Pagina Ordem de Serviço**************************************** */





				/* Editar Texto de Cabeçalho da Pagina ADM*/
		.div_cabecalho_pagina_Adm{
		padding: 0px;
		font-size:30px;
		text-align: center; /* alinhar texto ao centro */
		font-family:Brush Script MT, Brush Script Std, cursive;
		font-weight: bold; /* Negrito */
		color: #FF3A3D; /* Cor da Fonte */
		float:left; /* Lado que ira ficar */
		width: 100%; /* Largura */
		margin: 10px 0px 20px 0px; /* cima direita baixo esquerda */
}

				/* Editar Botão Add_OS*/
		.div_botao_Add_OS{
			overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
			width:4%; /* Largura do Logo */
			height: 5%;  /* Altura */
			Float:left; /* Lado que a imagem ira Flutuar */
			/*margin:2px; /* Margem da Imagem */
			/*border:1px solid #ccc; /*  Borda da Postagem */
			/*margin: -3px 0px 20px 0px; /* cima direita baixo esquerda */
			 }	

				/* Editar Botão Add_OS*/
		.botao_Add_OS{
			width:30px; /* Largura do Logo */
			height:30px; /* Altura do Logo */
			padding: 0px; /* Distancia entre os links */
			margin: 4%; /* Distancia entre os botoes */
			padding-top: 5%;
			padding-bottom: 0.8%;
			 }	

				/* Editar Formulario de Preenchimento da Busca de Ordem de Serviço*/
		.Buscar_OS_formulario{
			display:block;
			width:96%;
			padding:.375rem .75rem;
			font-size:1rem;
			line-height:1.5;
			color:#495057;
			background-color:#fff;
			background-clip:padding-box;
			border:1px solid #ced4da;
			border-radius:.25rem;
			transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}		


		.tabela_OS_titulos{
			vertical-align: middle;
			overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
			font-weight: bold; /* Para Texto ficar em Negrito */
			background-color:rgba(0,0,0,.3); /* Cor do Fundo */
			color: #FFF;
			text-align-last: center; /* Alinhamento do Texto */ 
			border-collapse: collapse;
			table-layout: auto;

		}





/* ****************************************Conteudo Pagina Prestador de Serviço**************************************** */





					/* Editar Div do Botão na pagina Prestador*/
			.div_botao_pag_prestador_home{
				width:150px; /* Largura do Logo */
				height:150px; /* Altura do Logo */
				margin: 0px 20px 0px 0px; /* cima direita baixo esquerda */
			    Float:left; /* Lado que a imagem ira Flutuar */
				 }	

					/* Editar Botão na pagina Prestador*/
			.botao_pag_prestador_home{
				width:150px; /* Largura do Logo */
				height:150px; /* Altura do Logo */
				/* margin: 10% 0px 0px 0px; /* cima direita baixo esquerda */
				border:1px solid #ccc; /*  Borda da Postagem */
				border-radius: 20px; /*  definimos o quão arredondado irá ficar nosso box */
				 }	

				/* Editar Texto do Botão na pagina Prestador*/
			.txt_botao_pag_prestador_home{
				padding: 0px;
				font-size:15px;
				text-align: center; /* alinhar texto ao centro */
				font-family:Times, Times New Roman, serif;
				font-weight: bold; /* Negrito */
				color: #2F343A; /* Cor da Fonte */
				float:left; /* Lado que ira ficar */
				width: 100%; /* Largura */
				/*margin: -0px 0px 0px 0px; /* cima direita baixo esquerda */
    			position: relative;  /* Sobrepor a Imagem */
      
				 }





/* ****************************************Conteudo Pagina de Produtos**************************************** */

				/* Editar Botão Menu Superior Adm Produtos*/
#menuSuperiorAdmProduto{
	lister:none;
	/*display:block; /* 	  */
	width:85%; /* Largura */
	/*height:auto; /* Altura */ 
	padding:0px;
	margin:0px;
	float:right; /* Lado que ira flutuar */
	background-color:#C00; /* Cor do Fundo */ 
	border-top:1px solid #F66; 	
	}

		/* Configuração geral do Menu Superior */
		.links_menuSuperiorAdmProduto ul{ 
			list-style: none;
			padding:0px; /* Distancia entre os links */
			margin:0px; /* Margem */
			position: relative;

			/*background-color:#333; /* Cor do Fundo */ 
			}


		/* Configuração geral do Menu Superior*/
 		.links_menuSuperiorAdmProduto ul li{ 
   			position: relative; /* Nescessario para alinhar submenu ao aparecer */  
			height:5%; /* Altura */ 
			cursor:pointer; /* Tipo de Cursor */
   			display: inline-block;   
			text-align: center; /* Posição do Texto */ 
			line-height: 200%; /* Posição do Texto */ 
			font-size:90%;  /* Tamanho da Fonte */
			font-weight: bold; /* Para Texto ficar em Negrito */
			float:left; /* Flutuar a esquerda */
 			background-color:#C00; /* Cor do Fundo do Botão */
			
			color:#FFF;  /* Cor do Link */
			padding:0px; /* Distancia entre os links */
			margin: 0px 0px 0px 0px; /* cima direita baixo esquerda */ 
			
				/* Efeito do Menu */
			-webkit-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s;
 			}


		/* Configuração ao passar o mouse nos botões do Menu Superior */
		.links_menuSuperiorAdmProduto ul li:hover{/* Mudar Cor ao Passar o Mouse */
 	 		 /* width:10%; /* Largura */ 
			/*height: 10%; /*        */        	
  			display: block; /*      */	    
			box-shadow:0px 2px 2px 2px;  /* Efeito no Menu Superior */	
			background-color:#F33; /* Cor do Fundo do Botão */
			color:#232323;  /* Cor do Link */ 
			}   

		/* Função para esconder a subcategoria do menu Superior */
 		.links_menuSuperiorAdmProduto ul ul { 
			display:none; /*Para SubMenu desaparecer*/
	 		list-style: none;	/*  	 */  
			/*display:none; /*       */ 
			transition: all 0.3s; 
			opacity: 0px;
			visibility:hidden;
			position:absolute;
 			float:none; /* Flutuar a esquerda */     
	 		 /* background-color:#333; /* Cor do Fundo */ 
 			padding:0px; /* Distancia entre os links */
 			padding-top:2%; /* Distancia entre os links */
 			}    

		/* Função para visualizar a subcategoria escondida do menu Superior */
 		.links_menuSuperiorAdmProduto ul li:hover > ul { 
			opacity: 1;
			visibility: visible;
			Display: Block;
			list-style: none;
			padding:0px; /* Distancia entre os links */
			padding-top:4%; /* Distancia entre os links e o topo */
			margin:0px 0px 0px 0px; /* Margem */ 
 			} 

 		.links_menuSuperiorAdmProduto ul li:hover > ul li{ 
			position: relative; /* Nescessario para alinhar submenu ao aparecer */  
			/*padding-top:2%; /* Distancia entre os links e o topo */
			cursor:pointer; /* Tipo de Cursor */
   			display: inline-block;
 			float:none; /* Flutuar a esquerda */ 
 	 		width:250%; /* Largura */  
			height:auto; /* Altura */
			padding:0px; /* Tamanho do Botão */
			margin: 0px 0px 0px 0px; /* cima direita baixo esquerda */
			border-bottom: medium; 	    
			box-shadow:1px 1px 5px 0px;  /* Efeito no Menu Superior */
			
 			} 



 		.links_menuSuperiorAdmProduto_btn_Menu { 
			width:6%; /* Largura */	
			/* background-color:#F1FF0E; /* Cor do Fundo do }  
 		.links_menuSuperiorAdmProduto_btn_CadastrarProduto { 
			width:5%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_MeusProdutosAVenda { 
			width:7%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosBombaAltaPressao {
			width:16%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosBicoInjetorCommonRail { 
			width:18%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosTuboRail { 
			width:8%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosBombaInjetora { 
			width:11%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosBicoInjetorMecanico { 
			width:15%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosUnidade { 
			width:7%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosHEUI { 
			width:6%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosMotor { 
			width:6%; /* Largura */	}  
 		.links_menuSuperiorAdmProduto_btn_TabelaProdutosModulo { 
			width:7%; /* Largura */	}  


		/* Fim do Menu Superior */

/* Editar Botão Menu Superior Adm Produtos*/
#menuSuperiorAdmCadastrarProduto{
	lister:none;
	/*display:block; /* 	  */
	width:100%; /* Largura */
	height:3.2%; /* Altura */ 
	padding:0px;
	margin:0px;
	float:left; /* Lado que ira flutuar */
	/*background-color:#FFF; /* Cor do Fundo */ 
	/*border:1px solid #CCC; 	/* Cor da Borda */ 
	}

		/* Configuração geral do Menu Superior */
		.links_menuSuperiorAdmCadastrarProduto ul{ 
			list-style: none;
			padding:0px; /* Distancia entre os links */
			margin:0px; /* Margem */
			position: relative;

			/*background-color:#333; /* Cor do Fundo */ 
			}


		/* Configuração geral do Menu Superior*/
 		.links_menuSuperiorAdmCadastrarProduto ul li{ 
   			position: relative; /* Nescessario para alinhar submenu ao aparecer */  
			/*height:5%; /* Altura */ 
			cursor:pointer; /* Tipo de Cursor */
   			display: inline-block;   
			text-align: center; /* Posição do Texto */ 
			line-height: 200%; /* Posição do Texto */ 
			font-size:90%;  /* Tamanho da Fonte */
			font-weight: bold; /* Para Texto ficar em Negrito */
			float:left; /* Flutuar a esquerda */
 			/*background-color:#FFF; /* Cor do Fundo do Botão */
			/*border:1px solid #CCC; 	/* Cor da Borda */ 
			border-top:1px solid #CCC; 	/* Cor da Borda */ 
			border-left:1px solid #CCC; 	/* Cor da Borda */ 
			border-right:1px solid #CCC; 	/* Cor da Borda */ 
			color:#000;  /* Cor do Link */
			padding:0px; /* Distancia entre os links */
			margin: 0px 0px 0px 0px; /* cima direita baixo esquerda */ 
			border-radius: 15px 15px 0 0; /* deixar as bordas arredondadas */
			
				/* Efeito do Menu */
			/*-webkit-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s;*/
 			}


		/* Configuração ao passar o mouse nos botões do Menu Superior */
		.links_menuSuperiorAdmCadastrarProduto ul li:hover{/* Mudar Cor ao Passar o Mouse */
 	 		 /* width:10%; /* Largura */ 
			/*height: 10%; /*        */        	
  			display: block; /*      */	    
			/* box-shadow:0px 2px 2px 2px;  /* Efeito no Menu Superior */	
			/*background-color:#E5E5E5; /* Cor do Fundo do Botão */
			color:#232323;  /* Cor do Link */ 
			}   

 		.links_menuSuperiorAdmCadastrarProduto_btn_NovoProduto_Ativo {
			width:12%; /* Largura */
			background-color:#FFF; /* Cor do Fundo do Botão */	 	
			border-bottom:1px solid #FFF; 	/* Cor da Borda */ }  
 		.links_menuSuperiorAdmCadastrarProduto_btn_EditarProduto_Ativo { 
			width:12%; /* Largura */
			background-color:#FFF; /* Cor do Fundo do Botão */	  	
			border-bottom:1px solid #FFF; 	/* Cor da Borda */ } 

 		.links_menuSuperiorAdmCadastrarProduto_btn_NovoProduto_Bloqueado {
			width:12%; /* Largura */
			background-color:#E5E5E5; /* Cor do Fundo do Botão */	
			border-bottom:1px solid #CCC; 	/* Cor da Borda Inferior*/ }  
 		.links_menuSuperiorAdmCadastrarProduto_btn_EditarProduto_Bloqueado { 
			width:12%; /* Largura */
			background-color:#E5E5E5; /* Cor do Fundo do Botão */
			border-bottom:1px solid #CCC; 	/* Cor da Borda Inferior*/ 	} 

		/* Layout Plano de Fundo do Menu Seleção para Cadastro*/

#div_selectCadastroDeProdutos{
					width:100%;
					height:7.6%;
					border:1px solid #CCC; 	/* Cor da Borda */ 
					padding:0px; /* Distancia entre os links */
					margin:-1px; /* Distancia entre os botoes */
					float:left; /* Flutuar a esquerda */
		}

 		.nav_menuSelecaoCadastroProdutos { 
            width:98.4%; /* Altura da Borda do Menu */
            height:76%; /* Largura da Borda do Menu */
			/*border:1px solid #CCC; /* Borda do Menu */
			padding:0.8%; /* Distancia entre os links */
			/*margin-top:0.1%; /* Distancia entre os botoes */
		}

#nav_divSelecaoCadastroProdutos {
            width:100%;
            height:80.3%;
			border:1px solid #CCC; 	/* Cor da Borda */ 
			padding:0px; /* Distancia entre os links */
			margin-top:0.5%; /* Distancia entre os botoes */
			float:left; /* Flutuar a esquerda */
		}

 		.produtoCadastrar_BoxSelecionarCategoria { 
            width:18%; /* Largura da Borda do Menu */
		}

 		.produtoCadastrar_BoxSelecionarMarca { 
            width:18%; /* Largura da Borda do Menu */
			margin-left:1.5%; /* Distancia entre os botoes */
		}

 		.produtoCadastrar_BoxFormularioCodigoProduto { 
            width:20%; /* Largura da Borda do Menu */
			margin-left:1.5%; /* Distancia entre os botoes */
		}

 		.produtoCadastrar_BoxSelecionarProduto { 
            width:20%; /* Largura da Borda do Menu */
			margin-left:1.5%; /* Distancia entre os botoes */
		}

 		.produtoCadastrar_BoxSelecionarModelo { 
            width:18%; /* Largura da Borda do Menu */
			margin-left:1.5%; /* Distancia entre os botoes */
		}

 		.produtoCadastrar_BoxSelecionarTipoAtuador { 
            width:18%; /* Largura da Borda do Menu */
			margin-left:1.5%; /* Distancia entre os botoes */
		}

 		.produtoCadastrar_BoxFormularioAplicacaoProduto { 
            width:99.8%; /* Largura da Borda do Menu */
		}


/* ****************************************Conteudo da Pagina Tabela de Testes TM**************************************** */




		.links_botaoTabelaTM li a{
			cursor:pointer;
			width:20%; /* Largura */
			height:5px; /* Altura */
			float:left; /* Flutuar a esquerda */
			text-align: center;
			background-color:#A40000; /* Cor do Fundo */ 
			color:#FFF;  /* Cor do Link */
			padding:0.7%; /* Distancia entre os links */
			margin:1%; /* Distancia entre os botoes */
			padding-bottom: 4%;
			}

		.links_botaoTabelaTM li a:hover{/* Mudar Cor ao Passar o Mouse */
			background-color:#335DFF; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */
			}

#conteudoTabelaTM{
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */	
	width:100%; /* Largura */
	height: 83%;  /* Altura */
	/* overflow-y: auto;  /* Barra de Rolagem */
	float:left; /* Lado que ira flutuar */
	background-color:#FFF; /* Cor do Fundo */
	/* border-radius: 15px 15px 0 0; /* deixar as bordas arredondadas */
}	

/* Formulario da Pagina Adm */
#form_tabelas{
  	display: table-cell;
	font-size:14px;
  	/* display: table-row; */
  	vertical-align: middle;
  	/* position: relative; */
	overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
    /* box-shadow:10px 10px 15px 15px;  /* Efeito no Menu Superior */	
	width:100%; /* Largura */
	height: auto; /* Altura */
	float:left; /* Lado que ira flutuar */
	text-align: center; /* Alinhamento do Texto */
	background-color:rgba(0,0,0,.2); /* Cor do Fundo */
	/* border:1px solid #3D3D3D; /*  Borda da Postagem */
	/* margin: 10px 11px;  /* valor a direita e a esquerda */
    border-collapse: collapse;
	/* overflow-y: auto;  /* Barra de Rolagem */
	table-layout: auto;
			}

#form_tabelas td{
	border:1px solid #3D3D3D; /*  Borda da Postagem */
			}

		.form_barraRolagemTabelaTM{
			height: 100%;  /* Altura */
			overflow: auto;  /* Barra de Rolagem */
			}

#form_tabelas tbody tr:hover {
			cursor: pointer;
			background-color:#4CA8FF; /* Cor do Fundo do Botão */
			color:#FFF;  /* Cor do Link */       
			border-bottom: medium;
	
		}		


		.tabela_titulos{
			vertical-align: middle;
			overflow:hidden; /* para nenhum elemento ultrapassar a largura maxima da pagina */
			font-weight: bold; /* Para Texto ficar em Negrito */
			background-color:rgba(0,0,0,.3); /* Cor do Fundo */
			color: #FFF;
			text-align-last: center; /* Alinhamento do Texto */ 
			border-collapse: collapse;
			table-layout: auto;

		}

		.pesquisar_tabelaTM{
			display:block;
			width:96%;
			margin-left: 2%;	/* Centralizar Objeto */
			padding:.375rem .75rem;
			font-size:1rem;
			line-height:1.5;
			color:#495057;
			background-color:#fff;
			background-clip:padding-box;
			border:1px solid #ced4da;
			/* border-radius:.25rem; */
			transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}

		.Tabela_Coluna_Cod_Inj_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_marc_Inj_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_aplic_Inj_TM{
			 width:42%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_tipo_Inj_TM{
			width:6%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Adp-ps_Inj_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */
			}

		.Tabela_Coluna_Adp-rt_Inj_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Adp-cn_Inj_TM{
			width:10%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */  
			}

		.Tabela_Coluna_resis_Inj_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Cod_Sen_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_marc_Sen_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_aplic_Sen_TM{
			 width:65%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Adp-ps_Sen_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */
			}

		.Tabela_Coluna_Adp-cn_Sen_TM{
			width:10%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */  
			}

		.Tabela_Coluna_Cod_Val_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_marc_Val_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_aplic_Val_TM{
			 width:37%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_tipo_Val_TM{
			width:6%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_opera_Val_TM{
			width:6%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Adp-ps_Val_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */
			}

		.Tabela_Coluna_Adp-rt_Val_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Adp-cn_Val_TM{
			width:9%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */  
			}

		.Tabela_Coluna_resis_Val_TM{
			width:8%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_Cod_Bom_TM{
			width: 7%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_marc_Bom_TM{
			width: 7%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}

		.Tabela_Coluna_aplic_Bom_TM{
			width: 84%; /* Largura da Tabela */
			border:1px solid #3E3E3E;
			text-align:center; /* Alinhamento do Texto */ 
			}



		/* Fim do Formulario da Pagina Adm */


		/* Rodape do Site */
#rodape{
	width:100%; /* Largura */
	height:50px; /* Altura */
	float:left; /* Lado que ira flutuar */
	background-color:#111; /* Cor do Fundo */
}

		.direitos{
			text-align:center; /* Alinhamento do Texto */
			fonte-size:14px; /* tamanho da fonte */
			color:#FFF;  /* Cor da Letra */			
}

		/* Fim do Rodape do Site */